html {
  background-color: #001933;
  color: white;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

section {
  padding: 5rem;
  max-width: 96rem;
  margin: 0 auto;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

.inspecionar {
  border: 5px solid red;
}

.itens-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 2rem 6rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.avatar {
  border-radius: 100%;
  width: 34rem;
  height: 24rem;

  margin-right: 10rem;
}

.main-title {
  font-size: 4rem;
}

.main-description {
  margin: 4rem 0;
}

.button {
  border-radius: 0.8rem;
  background-color: #0039cc;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1rem 2rem;
}

.About-main {
  background-color: #162340;
  border-radius: 0.2rem;
}

.About-Me {
  padding: 0;
  margin: 0%;
  font-size: 3.2rem;
}

.About-Desc {
  font-size: 4rem 0;
}

.Img-Proj1 {
  height: 18rem;
  width: 25rem;
  border-radius: 0.8rem;
  margin-right: 2.5rem;
  align-items: left;
}

.Desc-Proj1 {
  font-size: 1rem;
}
